/**************/
/* CSS REMEDY */
/**************/

/* Basis styling */
*, *::after, *::before {
  box-sizing: border-box;  
  background-color: var(--achtergrondKleur);
  color: var(--tekstKleur);
}
/* Aangepaste eigenschappen */

:root {
  --tekstKleur: #000000;
  --achtergrondKleur: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tekstKleur: rgb(248, 243, 243);
    --achtergrondKleur: #212b36;
  }
}


/* Algemene stijlregels */
* {
  box-sizing: border-box;
  margin:0 ;
}

/* Hamburger menu */

header ul.open {
	transform: translateX(0);
  padding: 0;
  left: 0;
  list-style: none; /* Verwijder de standaard lijststijl */
  background-color: white;
  box-shadow: 5em 0 5em rgba(0, 0, 0, 0.6);
}

header ul li {
  list-style-type: none; /* Verwijder standaard opsommingstekens */
  background: none; /* Verwijder achtergrondkleur */
  text-decoration: none; /* Verwijder onderstreping van links */
  background-color: white;
  margin-bottom: 3em; /* Voeg witruimte toe tussen de links */
  margin-top: 2em;
  padding-left: 1em;
  font-size: 1.5em;
  border-bottom: 0.2px solid rgb(74, 72, 72);
}

header ul {
  width: 85vw;
  height: 110vh;
  position: fixed;
  transform: translateX(-100vw);
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s;
  background-color: white;
}

header nav {
	display: flex;
	position: relative;
}

header ul li a {
  text-decoration: none ;
  color: #000000 ;
  background: none;
}

header ul.focuswithin {
	transform: translateX(0);
  padding: 0;
  left: 0;
  list-style: none; /* Verwijder de standaard lijststijl */
  background-color: white;
  box-shadow: 5em 0 5em rgba(0, 0, 0, 0.6);
}

header{
  position: fixed;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1px;
  background-color: #fcf9f7;
  z-index: 3;

}




/* hartje */

figure p {
  position: absolute;
  top: 0.3em;
  color: #000000;
  margin-left: 1em; /* Pas hier de gewenste ruimte aan tussen de <p> elementen */
  justify-content: space-between; /* Voeg dit toe */
}

/* stijling menu balk bovenaan */


header nav:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  background-color: white;
}

header nav button {
  border: none;
  background-color: transparent;
  height: 3em;
}

nav button img {
  width: 1.9em;
  background: none;
}



nav button img:nth-child(1) {
  margin-right: auto; /* Verplaats de laatste drie knoppen naar de rechterkant */
}

nav button:nth-child(2) {
  margin-left: 0.2em; /* Voeg een kleine ruimte toe tussen het eerste en tweede icoontje */
}

nav button:nth-last-child(3) {
  margin-left: auto; /* Verplaats de laatste drie knoppen naar de rechterkant */
}

.leeg{
margin-left: 8.45em;
background: none;
}

/* Stijl voor h1 elementen */
h1 {
  font-size: 0.5em;
  height: 3.2em;
  justify-content: center;
}


/* logo */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  text-decoration: none;
  background:none;
  margin: 3em;
  margin-top: 3em;
}


h1 img {
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
  background: none;
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 img {
  animation: rotateOnce 2s linear; /* De animatie duurt 2 seconden */
}


/* Main images */

main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

main img:focus {
  opacity: 0.5; /* Verminder de opacity */
}


/* Schuifbalk */



figure {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 32em;
  position: relative;
}

figure img {
  display: block;
  margin-right: 15px;
  width: 70%;
  margin-bottom: 1em;
  text-align: center;
  margin-right: 15px;
  position: relative;
}


/* Button 1 */
 main a {
  position: relative;
  display: inline-block;
}

span {
  display: flex;
  text-align: center;
  position: relative; /* Voeg positionele context toe aan de link */
  color: #000000;
  background-color: #ffffff;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 13px 33px;
  margin-bottom: 10px;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Center de knop */
  z-index: 1; /* Zorg ervoor dat de knop bovenop de afbeelding staat */ 
}

span img {
  max-width: 100%;
  max-height: 50%;
  height: auto;
  margin: 0;
}

span:active {
  background-color: #212b36;
  color: white;
}


/*section images*/

.home section img {
padding: 1em;
margin-bottom: -0.5em;
}

/* a focus */

main a:focus {
  opacity: 0.5; /* Verminder de opacity */
}


/*button 2 */


section span {
  position: relative; 
  color: var(--tekstKleur);
  border: 1px solid var(--tekstKleur); /* Toegevoegd: zwarte lijn */
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  background: var(--achtergrondKleur); 
  margin-left: 0.6em;
  margin-top: 1.5em;
}

section span:focus {
  color: #ffffff; 
  background: #000000; 
  outline: white;
}

section span:active {
  background-color: #212b36;
  color: white;
}

section a {
  text-decoration: none; /* Verwijder onderlijning */
  height: 0;
}


/* Stijl voor tekst */

h2{
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  letter-spacing: 0.1em; 
}
 h2:focus {
  outline: 2px solid blue; /* Blauwe rand rondom het gefocuste element */
}

h3 {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9em;
  color: rgb(130, 126, 126);
}
 h3:focus {
  outline: 2px solid blue; /* Blauwe rand rondom het gefocuste element */
}

h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
  font-size: 1em;
  color: rgb(180, 175, 175);
  line-height: 2em;
  text-align: center; /* Voeg deze regel toe om de tekst in het midden uit te lijnen */
  padding: 0 1em; /* Voeg deze regel toe voor wat ruimte van de rand af */
}
h4:focus {
  outline: 2px solid blue; /* Blauwe rand rondom het gefocuste element */
}


h5 {
  font-size: 2em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  background: none;
}
h5:focus {
  outline: 2px solid blue; /* Blauwe rand rondom het gefocuste element */
}

p {
  color: grey; 
  background: none;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  line-height: 1.7em;
}
p:focus {
  outline: 2px solid blue; /* Blauwe rand rondom het gefocuste element */
}

h6 {
  font-size: 2em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  background: none;
  color: #000000;
}
h6:focus {
  outline: 2px solid blue; /* Blauwe rand rondom het gefocuste element */
}



/* footer */


footer {
  background-color: #fcf9f7;
  padding: 2em;
  text-align: center;
}

footer h6:nth-of-type(4){
  background-color: #fcf9f7;
  text-align: center;
  padding-bottom: 1em;
}

/* Stijl voor de iconen */
footer img {
  width: 3em;
  height: 3em;
  background: none;
  margin: 1em; 
}

/* Stijl voor de tekst onder de iconen */

h6{
  background: none;
  margin: 1px; /* Voegt een beetje ruimte toe boven de tekst */
  font-size: 1.2em;
  color: rgb(76, 73, 73);
  line-height: 1.7em;
}





/**************/
/*  pagina 2  */ 
/**************/


html {
  scroll-behavior: smooth;
}
 


.stores h6{
  background: none;
  margin: 1px; /* Voegt een beetje ruimte toe boven de tekst */
  font-size: 2em;
  color: rgb(17, 16, 16);
  margin-left: 0.5em;
}


/* button 1 */

.stores button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* Voeg positionele context toe aan de link */
}

.stores button {
  background-color: #212b36;
  color: #ffffff;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 12px 31px;
  margin-bottom: 10px;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* Center de knop */
  z-index: 1; /* Zorg ervoor dat de knop bovenop de afbeelding staat */
}

.stores button:focus {
  background:white;
  color: black;
}

.stores button:active {
  background-color:black;
  color: white;
}

/* images */


/*section*/

.stores section {
  background-color: #f2f2f2; /* Voeg hier de gewenste grijstint toe */
  width: 100%; /* Zorg ervoor dat de sectie de volledige breedte van het scherm inneemt */
  padding: 2em 0; /* Voeg wat ruimte toe aan de boven- en onderkant van de sectie */
}



/* Button 2 */

.stores span {
  position: relative; 
  color: #000000;
  border: 1px solid #000000; /* Toegevoegd: zwarte lijn */
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  background: white; 
  margin-left: 0.6em;
}

.stores a{
  text-decoration:none ;
}

/* De map*/

iframe {
  width: 100%; 
  height: 450px; 
  border: none; 
  margin-top: 20px; 
  margin-bottom: 2.5em;
}


/*form*/ 

form {
  display: flex;
  flex-wrap: wrap;
  
  & > input {
    flex: 1 1 10ch;
    margin: .5rem;
    
    &[type="email"] {
      flex: 3 1 30ch;
    }
  }
}

input {
  border: none;
  background: hsl(0 0% 93%);
  color: #000000;
  padding: .75rem 1rem;
  
  &[type="submit"] {
    background: #212b36;
    color: rgb(255, 255, 255);
    border: 1.5px solid #ffffff;
  }
}
